<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Github Repo</title>
  </head>
  <body>

    <h2>Welcome {{name}} here are your github repos:</h2>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}

  </body>
</html>
